{% extends "base.html"  %}

{% block content%}
<div class="contatiner" style="display:flex;justify-content:center;">
<form action="#" method="post">
 {% csrf_token %}
  <!-- Email input -->

                {% if not user.is_authenticated %}
              {% for field in form.visible_fields %}

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">{{ field.label }}</label>
                  <input type="{{ field.field.widget.input_type }}" id="fullname" class="form-control" placeholder="{{ field.label }}" name="{{ field.html_name }}">
                </div>
              </div>

            {% endfor %}
    
  <!-- 2 column grid layout for inline styling -->

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    {% else %}
    <p>You are already signed in</p>
  {% endif %}
  <!-- Register buttons -->
</form>

</div>
{% endblock%}
